general {
        output_format = "i3bar"
        colors = false
        markup = pango
        interval = 1
        color_good = '#2f343f'
		color_degraded = '#ebcb8b'
		color_bad = '#ba5e57'
}

order += "volume master"
order += "battery 0"
order += "wireless _first_"
order += "cpu_temperature 0"
order += "disk /"
order += "ethernet enp1s0"
order += "tztime local"

/* cpu_temperature 0 { */
/*         format = "<span background='#bf616a'>  %degrees °C </span>" */
/*         path = "/sys/class/thermal/thermal_zone0/temp" */
/* } */

disk "/" {
        format = "<span background='#fec7cd'>  %free Free </span>"
}

/* wireless _first_{ */
/*         format_up = "<span background='#b48ead'>  %essid </span>" */
/*         format_down = "<span background='#b48ead'>  Disconnected </span>" */
/* } */
/**/
tztime local {
		format = "<span background='#81a1c1'> %time </span>"
		format_time = " %a %-d %b %H:%M"
}

volume master {
        format = "<span background='#ebcb8b'>  %volume </span>"
        format_muted = "<span background='#ebcb8b'>  Muted </span>"
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}

battery 0 {
        format = "<span background='#81a1c1'>  %status %percentage </span>"
		format_down = "No battery"
		status_chr = "⚡ CHR"
		status_bat = "🔋 BAT"
		status_unk = "? UNK"
		status_full = ""
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 30
		last_full_capacity = true
}

